*{
    margin:0;
    padding:0;

}

body{
    background:rgb(30, 116, 255);
   
    }

.titleContainer{
    position:absolute;
    background-color: yellow;
    height: 15%;
    width: 80%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    border:solid 2px black;
}



.titleOfPage {
    position:relative;
    font-size: 10vw;
    color:blue;
    text-align: center;
    vertical-align:middle;

}